/* ***************** utilities & containers ***************** */

/* variable declarations */
:root
{
    --header-footer-bg: #0C4A6E;
    --section-bg: lightgray;
    --text-font: Arial, Helvetica, sans-serif;
    --h1-font-size: 1.625rem;
    --h2-font-size: 3.75rem;
    --h3-font-size: 3rem;
    --h4-font-size: 2.125rem;
    --plans-p-font-size: 1.5rem;
    --header-footer-font-color: #FAFAFA;
    --service-plan-p-font-color: #0C4A6E;
}

.inner-container
{
    max-width: 95.5rem;
    margin: 0 auto;
    padding: 1.625rem;
}

/* This properties is to use to contain header, main, and footer */
.inner-container .flex-container
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.team
{
    margin-top: 1rem;
}

/* ***************** global typography ***************** */
body
{
    font-family: var(--text-font);
}

h1
{
    font-size: var(--h1-font-size);
}

h2
{
    font-size: var(--h2-font-size);
}

h3
{
    font-size: var(--h3-font-size);
}

h4
{
    font-size: var(--h4-font-size);
}

.plans .plan h4
{
    text-align: center;
}

.plans .plan p
{
    color: var(--service-plan-p-font-color);
    font-weight: 600;
    font-size: var(--plans-p-font-size);
}

/* ***************** header & footer ***************** */

header, footer
{
    background-color: var(--header-footer-bg);
    color: var(--header-footer-font-color);
}

/* ***************** main content ***************** */

.team section,
.plans .plan
{
    background-color: var(--section-bg);
}

.team section,
.plans .plan
{
    padding: 1.75rem;
    display: flex; /* I used flex here to achieve the .team section and .plans .plan*/
    margin-top: 1.75rem;
} 

.team .flex-container section > div
{
    margin-left: 3.68rem;
}

/* this hits the second section of div*/
/* the original margin-top or padding-top of it according to figma is 73px/4.5625 rem but it will make the div not align to the image itself
so I put 3rem for the design aspect and how I see it in the figma file */
.team .flex-container section:nth-of-type(2) > div
{
    margin-top: 3rem;
}

/* same explanation at the top of this*/
.team .flex-container section:nth-of-type(3) > div
{
    margin-top: 2.5rem;
}


.team .flex-container section
{
    width: calc((100% / 2) - (2rem / 1) );
}


.plans .plan
{
    flex-direction: column; /* I used flex-direction for the cards so that it will align the items inside of it*/
    width: calc((100% / 3) - (2rem / 1));
    margin-bottom: 6rem;
    justify-content: space-between;
    align-items: center;
}

.plans h2
{
    margin-top: 6rem;
}





